
/*问房海外-PC站-看房活动-列表和详情*/
/*=======================================================================*/
/*activity_list、activity_detail*/


.activity{}

/*专题列表*/
.activity-list-con{width:816px; height:auto; display:block; float:left; overflow:hidden; padding:0 24px;}
.activity-list-con>h3{width:100%; height:73px; display:block; padding:24px 0 8px 0; border-bottom:1px solid #e8e8ea;}
.activity-list{width:100%; height:auto; display:block; overflow:hidden; list-style:none;}
.activity-item{width:100%; height:auto; min-height:150px; display:block; float:left; overflow:hidden; padding:24px 0 24px 224px; position:relative; border-bottom:1px solid #e8e8ea;}
.activity-item a.img{width:200px; height:150px; display:block; position:absolute; top:24px; left:0;}
.activity-item a.title{width:100%; height:auto; display:block; line-height:32px; overflow:hidden; float:left;}
.activity-item p{width:100%; height:auto; display:block; float:left; line-height:26px; padding-left:72px; position:relative;}
.activity-item p span{width:72px; height:26px; line-height:26px; display:block; position:absolute; top:0; left:0;}
.activity-item div{width:100%; height:26px; display:block; float:left; line-height:26px;}
.activity-item div span{float:left;}
.activity-item div a{float:right;}


/*右侧活动报名喜讯*/
.side-signnews{width:100%; height:auto; display:block; padding:0 16px; overflow:hidden;}
.signnews{width:100%; height:auto; display:block; float:left; overflow:hidden; padding:24px 0 ;}
.signnews p{width:100%; height:26px; display:block; line-height:26px; text-align:center;}
.signnews p span:first-of-type{float:left;}
.signnews p span:last-of-type{float:right;}




/*活动详情*/
.activity-detail-con{width:100%; height:auto; display:block; float:left; overflow:hidden;}
.activity-detail-con>i{width:100%; height:auto; display:block; float:left;}
.activity-detail-con>h2{width:100%; height:auto; display:block; float:left; line-height:48px;}

.activity-detail{width:100%; height:auto; display:block; float:left; overflow:hidden;}
.activity-data-sign{width:100%; height:auto; display:block; overflow:hidden; float:left; padding:24px 144px 24px 24px; border:4px solid #d6e3fe; position:relative;}
.activity-data-sign p{width:100%; height:30px; display:block; float:left; line-height:30px; overflow:hidden;}
.activity-data-sign a{width:96px; height:40px; display:block; position:absolute; right:24px; top:50%; margin-top:-20px; border-radius:4px; text-align:center; line-height:40px;}









/*右侧热门活动列表*/
.side-hotactivity{width:100%; height:auto; display:block; padding:0 16px; overflow:hidden;}
.hotactivity-list{width:100%; height:auto; display:block; float:left; overflow:hidden; padding:24px 0 0 0;}
.hotactivity-item{ width:156px; height:auto; display:block; float:left;}
.hotactivity-item:nth-of-type(2n+2){margin-right:0;}
.hotactivity-item a.img{width:156px; height:117px; display:block; float:left; overflow:hidden;}
.hotactivity-item a.title{width:156px; height:52px; display:block; float:left; line-height:26px;}


