
/*问房海外-PC站-购房百科-列表和详情*/
/*=======================================================================*/
/*baike_list、baike*/


.baike{}

/*左侧对比项导航*/
.left-nav{width:120px; height:auto; display:block; float:left;}
.left-nav ul{width:120px; height:auto; display:block; float:left; overflow:hidden; list-style:none;}
.left-nav ul li{width:120px; height:32px; display:block; line-height:32px; text-align:left; padding-left:24px;}
.left-nav ul li:first-of-type{height:40px; line-height:40px; background:#ccdbfd;}
.left-nav ul.current li:first-of-type{background-color:#3271f8; color:#fff;}
.left-nav ul.current li.on{color:#3271f8; background:url(../img_pc/left_nav_arr_blue.png) 96px 50% no-repeat #eaf1fe}
.left-nav ul.current li:hover{color:#3271f8; background:#eaf1fe}

/*百科列表*/
.baike-list-con{width:672px; height:auto; display:block; float:left; overflow:hidden; padding:0 24px;}
.baike-list-con>h3{width:100%; height:73px; display:block; padding:24px 0 8px 0; border-bottom:1px solid #e8e8ea;}
.baike-list{width:100%; height:auto; display:block; overflow:hidden; list-style:none;}


/*专题详情*/
.baike-detail{width:672px; height:auto; display:block; float:left; overflow:hidden; padding:0 24px;}
.baike-detail>i{width:100%; height:auto; display:block; float:left;}
.baike-detail>h2{width:100%; height:auto; display:block; float:left; line-height:48px;}
.time-share{width:100%; height:24px; display:block; float:left; line-height:24px;}
.time-share>span{width:auto; height:24px; display:block; float:left;}
.time-share>div{width:auto; height:24px; display:block; float:right; line-height:24px;}
.time-share>div>span{width:24px; height:24px; display:inline-block; vertical-align:bottom;}
.time-share>div>span.wechat{background:url(../img_pc/share_wechat.png) no-repeat;}
.time-share>div>span.qqzone{background:url(../img_pc/share_qqzone.png) no-repeat;}
.time-share>div>span.weibo{background:url(../img_pc/share_weibo.png) no-repeat;}

.baike-detail-con{width:100%; height:auto; display:block; float:left; overflow:hidden;}

.user-like{width:56px; height:80px; display:block; margin:40px auto; text-align:center;}
.user-like i{width:56px; height:56px; display:block; margin:0 auto; border:2px solid #bcbcc1; border-radius:56px; background:url(../img_pc/answer_likebtn_grey.png) 50% 50% no-repeat;}
.user-like i.on{border:2px solid #f66; background:url(../img_pc/answer_likebtn_red.png) 50% 50% no-repeat;}
.user-like span{ line-height:24px; height:24px; display:inline-block;}








