
/*滚动条*/
::-webkit-scrollbar{width:4px;height: 0px; background:#223;}
::-webkit-scrollbar-thumb{background-color: #3271f8;}

body .head{height:120px; background:rgba(35, 34, 52, 1); position:fixed; top:0; left:0; width:100%; z-index:999999; transition:all 0.5s;}
body .head.opacity58{ background:rgba(35, 34, 52, 0.58); transition:all 0.5s;}
body .head .util-head{height:100%; width:1400px;}
body .head .util-head .head-log{margin:4px 0;}
body .head .head-nav{height:100%;}
body .head .head-nav li{height:100%; line-height:120px;}
body .head .head-nav li a{display:block;}
.secondnav .bg-black100{background:rgba(35, 34, 52, 0.58);}


/* swipert */
.swiper-wrapper{transition-delay:.3s;}
.swiper-container {width:100%; height:100%;}
.swiper-slide {text-align:center; font-size:18px; background:#fff;/* Center slide text vertically */display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-box-pack:center; -ms-flex-pack:center; -webkit-justify-content:center; justify-content:center; -webkit-box-align:center; -ms-flex-align:center; -webkit-align-items:center; align-items:center; cursor:inherit; background-size:auto 100%; background-repeat:no-repeat; background-position:center center;}
.swiper-slide .m-banner-info{transform:translateY(100px); opacity:0; transition:all .4s;}
.ani-slide .m-banner-info{transform:translateY(0); opacity:1;}
.swiper-slide .m-banner-about{transform:translateX(-100px); opacity:0; transition:all .4s;}
.ani-slide .m-banner-about{transform:translateX(0); opacity:1;}
.swiper-button-next, .swiper-button-prev{position:absolute; z-index:99; color:#fff; left:50%; padding:10px; margin-left:-30px; cursor:pointer;}
.swiper-button-prev{top:324px;}
.swiper-button-next{bottom:210px;}
.swiper-button-disabled{opacity:0.3;}
/* swipert */

.m-banner-container{width:100%; height:1000px; overflow:hidden; position:relative;}
.m-decorate-container{width:1400px; height:100%; position:absolute; top:0; left:50%; margin-left:-700px;}
.m-decorate-01{width:78px; height:93px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; border:2px solid #fff; position:absolute; z-index:99; bottom:80px; left:56px;}
.m-decorate-01:after{content:''; background:#fff; width:44px; height:53px; display:block; position:absolute; top:50%; left:50%; margin-left:-22px; margin-top:-26.5px;}
.m-decorate-02{position:absolute; width:24px; height:24px; right:110px; bottom:115px;}
.m-decorate-02:after, .m-decorate-02:before{content:''; position:absolute; left:50%; background:#fff; z-index: 22;}
.m-decorate-02:after{width:3px; height:100%; left:10px; top:0;}
.m-decorate-02:before{width:100%; height:3px; left:0; top:10px;}

.m-page-link{position:absolute; top:240px; right:28px; z-index:20;}
.m-page-link > div{position:relative; cursor:pointer;}
.m-page-link > div:after{content:''; width:0; height:2px; background:#fff; display:block; position:absolute; left:-36px; top:50%; margin-top:-1px; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; transition:all 0.3s;}
.m-page-link > div:hover a{color:#fff;}
.m-page-link > div:hover:after{width:20px;}

.m-banner-content{width:1400px; height:852px; margin:148px 0 auto; position:relative;}
.m-banner-content .u-button{position:absolute; display:block; top:679px; width:196px; height:93px; line-height:93px; left:50%; margin-left:-98px;}
.m-banner-info{background:#222233; background:rgba(34, 34, 51, 0.5); width:400px; height:542px; position:absolute; top:137px; left:50%; margin-left:-200px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.m-banner-info > div{width:600px; position:absolute; top:167px; left:50%; margin-left:-300px;}

.m-banner-about{text-align:left; position:absolute; left:56px; top:90px;}

.m-advantage-container{height:382px; position:relative; overflow:hidden;}
.m-advantage-container .u-bg{width:100%; height:100%; background:url("../img_pc/advantage-bg1.jpg") no-repeat center center fixed; background-size: cover; position:absolute; top:0; left:0; z-index:-1;}
.m-advantage-container .u-title-bg{position:absolute; top:80px; width:1400px; text-align:center; left:50%; margin-left:-700px; opacity:0.2; line-height:1em;}
.m-advantage-container .u-title{position:relative; margin-top:95px;}
.m-advantage-container .u-title-content{text-align:center;}
.m-advantage-container .u-title-content h4{line-height:1em;}
.m-advantage-container .u-advantage-content{margin:60px auto 0; width:1400px;}
.m-advantage-container .u-advantage-content > a{width:20%; float:left; display:block;}
.m-advantage-container .u-advantage-item{text-align:center; cursor:pointer;}
.m-advantage-container .u-advantage-item .u-icon{height:30px;}
.m-advantage-container .u-advantage-item .u-icon > img{display:block; height:30px; width:auto; margin:0 auto;}
.m-advantage-container .u-advantage-item span{position:relative;}
.m-advantage-container .u-advantage-item span:after{content:''; position:absolute; display:block; width:20%; height:2px; background:#fff; bottom:-8px; left:40%; transition:all 0.3s;}
.m-advantage-container .u-advantage-item:hover span:after{width:100%; left:0; transition:all 0.3s;}
.m-advantage-container .u-decorate-con{width: 1400px; margin: 0 auto;height: 0; position: absolute;left: 50%;bottom: 0;margin-left: -700px;}
.m-advantage-container .u-decorate{position:absolute; left:-83px; bottom:-140px; z-index:22;}
.m-decorate-tr{height:55px;}
.m-decorate-tr > img{height:55px; width:55px; display:block; float:left;}

.m-activity-container{padding:80px 0 156px; position:relative; z-index: 1;}
.m-activity-container > div{height:656px; width:1400px; margin:0 auto; position:relative;}
.m-activity-container .u-decorate{position:absolute; bottom:-295px; right:-185px;}
.m-activity-container .u-activity-info{float:left; padding-top:144px; padding-left:24px;}
.m-activity-container .u-activity-info >p{line-height:48px;}
.m-activity-container .u-activity-info > button{width:120px; line-height:38px; border:0;}
.m-activity-container .m-activity-right{float:right; width:761px; padding-right:32px;}
.m-activity-right .u-more-button{line-height:38px; margin-bottom:38px; text-align:right;}
.m-activity-right .u-activity-pic{width:761px; height:580px; position:relative; z-index:2;}
.m-activity-right .u-activity-pic img{width:100%; height:100%; position:absolute; left:0; top:0; display:block;}
.u-icon-plus{display:block; width:110px; height:110px; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; border:3px solid #fff; position:absolute; left:50%; top:50%; margin-top:-55px; margin-left:-55px; z-index:2; cursor:pointer;}
.u-icon-plus:after{position:absolute; content:''; display:block; background:#fff; width:4px; height:24px; top:50%; left:50%; margin-left:-2px; margin-top:-12px;}
.u-icon-plus:before{position:absolute; content:''; display:block; background:#fff; height:4px; width:24px; top:50%; left:50%; margin-top:-2px; margin-left:-12px;}

.m-recommend-contaomer1{position:relative; padding:113px 0 114px;}
.m-recommend-contaomer1 .u-decorate-square{position:absolute; width:315px; height:900px; border:1px solid #fff; left:420px; top:75px; opacity:0.52; z-index:0;}
.m-recommend-contaomer1 .u-bg{position:absolute; top:0; left:0; width:100%; height:100%; background:url("../img_pc/recommend-bg.jpg") no-repeat center center; -webkit-background-size: 100% 100%; background-size: 100% 100%; opacity:0.1;}
.m-recommend-contaomer1 .m-recommend-content{width:1400px; margin:0 auto; position:relative; z-index:2;}
.m-recommend-contaomer1 .m-recommend-content .u-decorate{position:absolute; bottom:-255px; left:-180px;}
.m-recommend-content .u-recommend-item{margin-bottom:64px; position:relative; z-index:5;}
.m-recommend-contaomer1 .f-ml{float:left;}
.m-recommend-contaomer1 .f-mr{float:right;}
.m-recommend-contaomer1 .u-recommend-pic{width:680px; height:320px; position:relative; background:#223; overflow:hidden; position:relative;}
.m-recommend-contaomer1 .u-recommend-pic img{display:block; width:100%; height:100%; transition:all 0.5s; position:absolute; top:0; left:0;}
.m-recommend-content .u-recommend-item:hover .u-recommend-pic img{width:110%; height:110%; transition:all 0.5s; top:-5%; left:-5%;}
.m-recommend-contaomer1 .u-recommend-info{width:600px; padding-top:40px;}
.m-recommend-contaomer1 .u-recommend-info .u-icon{width:30px; height:30px;}
.m-recommend-contaomer1 .u-recommend-info .u-more-btn{line-height:30px;}
.m-recommend-contaomer1 .u-recommend-info p{line-height:1.8em;}

.m-recommend-contaomer2{padding:76px 0 116px;}
.m-control-container{height:24px; text-align:right; width:1400px; margin:0 auto;}
.m-control-container > * {display:inline-block; float:right;}
.m-control-container img{height:24px; width:auto; cursor:pointer;}
.m-control-container > div{height:24px;}
.m-control-container span{height:10px; width:10px; margin:7px 8px; display:inline-block; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; cursor:pointer;}

.m-recommend-list{height:680px;}
.m-recommend-list-adorn{height:8px; width:1400px; margin:20px auto 0; background:#ccd3d6;}
.m-recommend-list-adorn >div{height:100%; width:25%; float:left;}
.m-recommend-contaomer2 .m-recommend-list {width:1400px; margin:40px auto 0;}
.m-recommend-contaomer2 .m-recommend-list > div{width:302px; height:100%; margin-right:48px; position:relative; float:left; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; transition:all 0.3s;}
.m-recommend-contaomer2 .m-recommend-list > div.u-active{width:350px;}
.m-recommend-contaomer2 .m-recommend-list > div:last-child{margin-right:0;}
.m-recommend-contaomer2 .m-recommend-list > div.u-active .m-recommend-item{opacity:0; z-index:1;}
.m-recommend-contaomer2 .m-recommend-item{top:64px; left:0; width:100%; height:100%; position:absolute; z-index:2; transition:all 0.3s;}
.m-recommend-contaomer2 .m-recommend-item .u-pic{width:100%; height:186px;}
.m-recommend-contaomer2 .m-recommend-item .u-pic img{display:block; width:100%; height:100%;}

.m-recommend-contaomer2 .m-recommend-item h4{line-height:34px; padding:20px 0;}
.m-recommend-contaomer2 .m-recommend-item p{line-height:1.6em; height:100px;}
.m-recommend-contaomer2 .m-recommend-item .u-nick-name{float:left;}
.m-recommend-contaomer2 .m-recommend-item .u-nick-name img{width:24px; height:24px; float:left; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; margin-right:12px;}
.m-recommend-contaomer2 .m-recommend-item .u-satisfaction-degree{line-height:24px; position:relative; float:right;}
.m-recommend-contaomer2 .m-recommend-item .u-satisfaction-degree img{width:16px; height:14px; display:block; position:absolute; left:-20px; top:50%; margin-top:-7px;}
.m-recommend-contaomer2 .m-recommend-item .u-button{margin-top:48px;}
.m-recommend-contaomer2 .m-recommend-item .u-button button{border:0; width:160px; height:40px; line-height:40px; cursor:pointer;}
.m-recommend-contaomer2 .u-active .m-recommend-item-cover{opacity:1; z-index:3;}
.m-recommend-contaomer2 .m-recommend-item-cover{position:absolute; width:100%; height:100%; z-index:1; opacity:0;}

.m-recommend-contaomer2 .m-recommend-item-cover .u-bg{position:absolute; left:0; top:0; width:100%; height:100%;}
.m-recommend-contaomer2 .m-recommend-item-cover .u-filter{-webkit-filter:blur(10px); -ms-filter:blur(10px); filter:blur(10px);}
.m-recommend-contaomer2 .m-recommend-item-cover .u-shadow{position:absolute; left:0; bottom:0; width:100%; height:70%;
background: -webkit-linear-gradient(rgba(34,34,51,0), rgba(34,34,51,0.8)); 
  background: -o-linear-gradient(rgba(34,34,51,0), rgba(34,34,51,0.8)); 
  background: -moz-linear-gradient(rgba(34,34,51,0), rgba(34,34,51,0.8));
  background: linear-gradient(rgba(34,34,51,0), rgba(34,34,51,0.8));}
.m-recommend-contaomer2 .m-recommend-item-cover .u-bg img{display:block; width:100%; height:100%;}
.m-recommend-contaomer2 .m-recommend-item-cover .u-content{position:absolute; width:100%; z-index: 2; text-align:center; height:200px; bottom:0;}
.m-recommend-contaomer2 .u-nick-name{float:none;}
.m-recommend-contaomer2 .u-nick-name > * {vertical-align:bottom;}
.m-recommend-contaomer2 .u-nick-name img{display:inline-block; width:24px; height:24px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; margin-right:12px;}
.m-recommend-contaomer2 .u-nick-name span{display:inline-block; line-height:24px;}
.m-recommend-contaomer2 .u-active .u-button{height:40px; outline:none;}
.m-recommend-contaomer2 .u-active .u-button button{border:1px solid #fff; background:transparent; line-height:40px; padding:0 10px; cursor:pointer;}

.m-houses-container{position:relative;}
.m-houses-container .u-bg{position:absolute; width:100%; height:100%; z-index:-1;}
.m-houses-container .u-bg > img{width:100%; height:100%; display:block;}
.m-houses-container .u-title{padding-top:140px; height:285px;}
.m-houses-container .u-title img{height:100%; width:auto; margin:0 auto; position:relative; left:-45px;}
.m-houses-container .u-content{width:1400px; margin:0 auto; padding:80px 0;}
.m-houses-container .u-content .u-houses_pic{position:relative;}
.m-houses-container .u-content .u-houses_pic img{display:block; width:100%; height:100%; position:absolute; left:0; top:0; transition:all 0.5s;}
.m-houses-container .u-content .u-houses_pic:hover img{width:110%; height:110%; top:-5%; left:-5%; transition:all 0.5s;}
.m-houses-container .u-content .u-houses_pic >div{position:absolute; bottom:0; right:0; background:rgba(34,34,51,0.8); text-align:right; width:132px; height:80px; padding-right:12px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.m-houses-container .u-house-info{display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center;}
.m-houses-container .u-house-info > div{width:100%;}
.m-houses-container .u-content-01{width:50%; height:286px; float:left; position:relative;}
.m-houses-container .u-content-01 >div{width:588px; height:200px; position:absolute; right:0; top:0;}
.m-houses-container .u-content-01 .u-houses_pic{width:326px; height:200px; display:inline-block; float:left;}
.m-houses-container .u-content-01 .u-houses_pic > img{display:block; width:100%; height:100%;}
.m-houses-container .u-content-01 .u-house-info{width:262px; height:200px; float:right; padding-left:30px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.m-houses-container .u-content-02{width:50%; height:286px; float:left; position:relative;}
.m-houses-container .u-content-02 > div{height:254px; position:absolute; bottom:0; left:0;}
.m-houses-container .u-content-02 .u-houses_pic{height:100%; width:414px; float:left;}
.m-houses-container .u-content-02 .u-house-info{height:100%; width:282px; float:right; padding-left:30px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

.m-houses-container .u-content-03{width:50%; height:286px; float:left; position:relative;}
.m-houses-container .u-content-03 > div{height:254px; position:absolute; top:0; right:0;}
.m-houses-container .u-content-03 .u-house-info{float:left; width:282px; height:100%; text-align:right; padding-right:30px;}
.m-houses-container .u-content-03 .u-houses_pic{float:right; height:100%; width:413px;}
.m-houses-container .u-content-04{width:50%; height:286px; float:left; position:relative;}
.m-houses-container .u-content-04{width:50%; height:286px; float:right; position:relative;}
.m-houses-container .u-content-04 > div{position:absolute; width:663px; height:200px; bottom:0; right:32px;}
.m-houses-container .u-content-04 .u-houses_pic{height:100%; width:326px; float:right;}
.m-houses-container .u-content-04 .u-house-info{float:left; width:337px; height:100%; padding-right:32px; text-align:right;}




@media screen and (max-width:1366px){
	
body .head{height:80px;}
body .head .util-head{width:1200px;}
body .head .util-head .head-log{margin:20px 0;}
body .head .head-nav li{line-height:80px;}
		

/* swipert */
.swiper-button-prev{top:176px;}
.swiper-button-next{bottom:144px;}
/* swipert */
		
.m-banner-container{height:768px;}

.m-decorate-container{width:1200px; margin-left:-600px;}
.m-decorate-01{width:64px; height:80px; left:0px;}
.m-decorate-01:after{ width:40px; height:56px; margin-left:-20px; margin-top:-28px;}
.m-decorate-02{position:absolute; width:24px; height:24px; right:16px; bottom:104px;}
.m-decorate-02:after{width:2px; left:11px;}
.m-decorate-02:before{height:2px; top:11px;}

.m-page-link{top:120px; right:24px; }

.m-banner-content{width:1200px; height:768px; margin:0 auto;}
.m-banner-content .u-button{ top:640px; width:192px; height:80px; line-height:80px; margin-left:-96px;}
.m-banner-info{width:320px; height:480px; top:160px; margin-left:-160px;}
.m-banner-info > div{width:600px; position:absolute; top:167px; left:50%; margin-left:-300px;}
.m-banner-about{left:24px; top:120px;}

.m-advantage-container{height:382px;}
.m-advantage-container .u-title-bg{top:64px; width:1200px; margin-left:-600px;}
.m-advantage-container .u-title{margin-top:72px;}
.m-advantage-container .u-advantage-content{margin:64px auto 0; width:1200px;}
.m-advantage-container .u-decorate-con{width: 1200px; margin-left: -600px;}
.m-advantage-container .u-decorate{position:absolute; left:-64px; bottom:-120px; z-index:22;}
.m-decorate-tr{height:40px;}
.m-decorate-tr > img{height:40px; width:40px; display:block; float:left;}

.m-activity-container{padding:40px 0 80px;}
.m-activity-container > div{height:656px; width:1200px;}
.m-activity-container .u-decorate{bottom:-192px; right:-72px;}
.m-activity-container .u-activity-info{padding-top:120px; padding-left:0;}
.m-activity-container .u-activity-info > button{line-height:36px;}
.m-activity-container .m-activity-right{width:720px; padding-right:0;}
.m-activity-right .u-more-button{line-height:32px;}
.m-activity-right .u-activity-pic{width:720px; height:540px;}
.u-icon-plus{width:96px; height:96px;  border:2px solid #fff; margin-top:-48px; margin-left:-48px;}

.m-recommend-contaomer1{padding:96px 0;}
.m-recommend-contaomer1 .u-decorate-square{width:184px; height:720px; left:428px; top:75px; }
.m-recommend-contaomer1 .m-recommend-content{width:1200px;}
.m-recommend-contaomer1 .m-recommend-content .u-decorate{bottom:-204px; left:-160px;}
.m-recommend-content .u-recommend-item{margin-bottom:40px;}
.m-recommend-contaomer1 .u-recommend-pic{width:560px; height:264px;}
.m-recommend-contaomer1 .u-recommend-info{width:560px; padding-top:32px;}


.m-recommend-contaomer2{padding:96px 0 40px;}
.m-control-container{width:1200px;}

.m-recommend-list{height:576px;}
.m-recommend-list-adorn{width:1200px; height:4px; margin:16px auto 0;}
.m-recommend-contaomer2 .m-recommend-list {width:1200px; margin:24px auto 0;}
.m-recommend-contaomer2 .m-recommend-list > div{width:240px; margin-right:48px;}
.m-recommend-contaomer2 .m-recommend-list > div.u-active{width:336px;}
.m-recommend-contaomer2 .m-recommend-item{top:40px;}
.m-recommend-contaomer2 .m-recommend-item .u-pic{height:180px;}
.m-recommend-contaomer2 .m-recommend-item .u-button{margin-top:32px;}
.m-recommend-contaomer2 .m-recommend-item .u-button button{width:160px; height:40px; line-height:40px;}

.m-houses-container .u-title{padding-top:120px; height:245px;}
.m-houses-container .u-content{width:1200px; padding:56px 0;}

.m-houses-container .u-content-01 .u-houses_pic{width:326px;}
.m-houses-container .u-content-01 .u-house-info{width:262px;}

.m-houses-container .u-content-02 .u-houses_pic{width:360px;}
.m-houses-container .u-content-02 .u-house-info{width:240px;}

.m-houses-container .u-content-03 .u-house-info{width:240px;}
.m-houses-container .u-content-03 .u-houses_pic{width:360px;}

.m-houses-container .u-content-04 .u-houses_pic{width:326px;}
.m-houses-container .u-content-04 .u-house-info{width:337px;}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}