

/*问房海外-PC站-楼盘主页*/
/*=======================================================================*/
/*loupan_mainpage*/


/*楼盘基本信息*/
.loupan-basedata{}

/*楼盘名-楼盘特色标签-其他信息*/
.basedata-head{width:100%; height:auto; display:block; overflow:hidden;}
.basedata-head h1{width:100%; height:48px; display:block; line-height:48px;}
.tagslist-baseinfo{width:100%; height:28px; display:block;}
.tags-list{width:auto; height:24px; display:block; float:left; margin:2px 0;}
.tags-list>span{wdith:autop; height:24px; padding:0 8px; line-height:24px; float:left;}
.baseinfo-list{width:auto; height:28px; display:block; float:left;}
.baseinfo-list>span{width:auto; height:28px; line-height:28px; display:block; float:left;}

/*楼盘封面-楼盘价格-收益-动态-地址信息*/
.basedata-body{width:100%; height:auto; display:block; overflow:hidden;}

/*左侧图片展示*/
.left-imgshow,.imgshow-con{width:816px; height:612px; display:block; float:left; position:relative;}
.img-list ,.img-list a ,.img-list a img{width:100%; height:auto; display:block; overflow:hidden;}
.ctrl-btn{width:160px; height:40px; display:block; position:absolute; bottom:0; left:50%; margin-left:-80px; background:rgba(0,0,0,0.7); border-radius:8px 8px 0 0;}
.ctrl-btn a{width:40px; height:40px; display:block; float:left;}
.previmg{background:url(../img_pc/arr_x_prev_white.png) 50% 50% no-repeat;}
.nextimg{background:url(../img_pc/arr_x_next_white.png) 50% 50% no-repeat;}
.ctrl-btn span{width:80px; height:40px; display:block; float:left; text-align:center; line-height:40px;}
/*销售状态标志*/
.saletag{width:64px; height:32px; display:block; text-align:center; line-height:32px; position:absolute; top:16px; left:16px; z-index:1; background:rgba(255,255,255,0.8);}
.saletag.onsale{color:#ff6666;}
.saletag.besale{color:#3271f8;}
.saletag.offsale{color:#909099;}
/*右侧价格等信息*/
.right-part{width:360px; height:612px; display:block; float:left; position:relative;}
/*价格*/
.price{width:100%; height:auto; display:block; padding:24px 16px; overflow:hidden;}
.tatal-price{width:100%; height:56px; display:block; float:left; line-height:56px;}
.unit-price{width:100%; height:32px; display:block; float:left;line-height:32px; padding-left:8px;}
.chang-currency{width:32px; height:32px; display:inline-block; background:url(../img_pc/change_currency_white.png) 50% 50% no-repeat; vertical-align:bottom}
.chang-currency:hover{opacity:0.7;}
/*收益*/
.profit{width:100%; height:auto; display:; overflow:hidden; padding:16px;}
.profit p{width:33.33%; height:66px; display:block; float:left;}
.profit p span{width:100%; display:block; float:left;}
.profit p span:nth-of-type(1){height:26px; line-height:26px;}
.profit p span:nth-of-type(2){height:40px; line-height:40px;}
.profit p span i{width:16px; height:16px; display:inline-block; border-radius:16px; text-align:center; line-height:16px; background:#e8e8ea;}
.line{width:328px; height:0; display:block; margin:0 auto; border-top:1px dashed #e8e8ea;}
/*地址或动态*/
.address-dynamic{width:100%; height:auto; display:block; overflow:hidden; padding:16px;}
.address-dynamic span{width:auto; height:32px; line-height:32px; display:block; float:left;}
.address-dynamic a{width:72px; height:32px; line-height:32px; display:block; float:right; border-radius:4px; text-align:center;}
.address-dynamic p{width:100%; height:auto; max-height:78px; line-height:26px; float:left; display:-webkit-box; text-overflow:-o-ellipsis-lastline; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:3; -webkit-box-orient:vertical;}
/*操作按钮*/
.btnlist{width:100%; height:40px; display:block; float:left; padding:0 16px; position:absolute; bottom:24px;}
.btnlist a{width:160px; height:40px; display:block; line-height:40px; text-align:center; border-radius:4px; float:left;}

/*基本信息列表*/
.basedata-foot{width:100%; height:auto; display:block; padding:0 24px; float:left;}
.basedata-foot p{width:270px; height:48px; display:block; float:left; line-height:48px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.basedata-foot p:nth-of-type(4n+4){margin:0;}


.detaillpage-con{width:1200px; height:auto; display:block; overflow:hidden; margin:24px auto 0; padding-top:48px; position:relative;}
.detail-part-nav{width:1200px; height:48px; display:block; line-height:48px; padding:0 24px; margin-left:auto; margin-right:auto; position:absolute; top:0; z-index:100;}
.detail-part-nav a{width:auto; height:48px; float:left; margin-right:16px; position:relative; color:#223;}
.detail-part-nav a:hover,.detail-part-nav a.current{color:#3271f8;}
.detail-part-nav a.current{font-weight:bold; font-size:16px;}
.detail-part-nav a:hover:before , .detail-part-nav a.current:before{content:''; width:24px; height:2px; display:block; position:absolute; bottom:0; left:50%; margin-left:-12px; background:#3271f8;}

/*楼盘详细介绍*/
.loupan-detail{width:816px; height:auto; display:block; overflow:hidden; float:left; padding:0;}
.statement{width:100%; height:auto; display:block; line-height:48px;}

/*问房点评*/
.wenfang-comment{width:816px; height:auto; display:block; float:left; overflow:hidden; padding:0 24px;}
.wenfang-comment-tag{width:96px; height:32px; display:inline-block; background:url(../img_pc/wenfang_comment.png) 50% 50% no-repeat; vertical-align:bottom;}
.wenfang-comment .newsitem{border:none;}

/*详细介绍*/
.detaildata-con{width:816px; height:auto; display:block; float:left; padding:0 24px;}
.detaildata-part{width:100%; height:auto; display:block; float:left; overflow:hidden; border-bottom:1px solid #e8e8ea; padding-bottom:24px;}
.detaildata-part:last-of-type{border:none;}
.part-head{width:100%; height:auto; display:block; padding:24px 0 16px 0; overflow:hidden;}
.part-head h3{line-height:40px; float:left;}
.part-head a{width:112px; height:40px; display:block; float:right; text-align:center; line-height:38px; border:1px solid #d6e3fe; border-radius:4px;}
.part-body{width:100%; height:auto; display:block; overflow:hidden;}
/*楼盘区域地图*/
.map-layout{width:100%; height:auto; display:block; overflow:hidden;}
.map-layout p{width:100%; height:auto; display:block; float:left;}
.map-layout p span{width:50%; height:30px; line-height:30px; float:left; display:block;}
.map-layout p span:last-of-type{width:100%; height:auto;}
.map-show{width:100%; height:440px; display:block; float:left; position:relative; overflow:hidden;}
.map-tabbtn{width:100%; height:40px; display:block; position:absolute; top:0; left:0; padding:8px 8px 0 8px; z-index:1;}
.map-tabbtn a{width:80px; line-height:32px; height:32px; display:block; float:left; text-align:center; border-radius:4px;}
.map-con{width:100%; height:440px; display:block; position:relative; z-index:0;}
/*楼盘户型-楼盘平面图公用*/
.roomtype-layout{width:100%; height:auto; display:block; overflow:hidden; float:left;}
.gallery-ctrl{width:100%; height:40px;; display:block; float:left;}
.gallery-ctrlbtn-prev{width:32px; height:40px; display:block; float:left; border-radius:4px 0 0 4px; background:url(../img_pc/arr_x_prev_black.png) 50% 50% no-repeat #f4f4f5;}
.gallery-ctrlbtn-prev:hover{background:url(../img_pc/arr_x_prev_blue.png) 50% 50% no-repeat #f4f4f5;}
.gallery-ctrlbtn-next{width:32px; height:40px; display:block; float:left; border-radius:0 4px 4px 0; background:url(../img_pc/arr_x_next_black.png) 50% 50% no-repeat #f4f4f5;}
.gallery-ctrlbtn-next:hover{background:url(../img_pc/arr_x_next_blue.png) 50% 50% no-repeat #f4f4f5;}
.gallery-list{width:646px; height:40px; display:block; float:left; margin:0 2px;}
.gallery-list p{width:300%; height:40px; display:block;}
.gallery-list p span{width:160px; height:40px; display:block; float:left; text-align:center; line-height:40px; margin-right:2px;}
.gallery-ctrl span{width:auto; height:40px; display:block; float:right; line-height:40px;}
.roomtype-info{width:100%; height:auto; display:block; float:left;}
.roomtype-info>h4{width:100%; height:auto; display:block; float:left; line-height:30px;}
.roomtype-info>p{width:100%; height:auto; display:block; float:left;}
.roomtype-info>p span{width:33.33%; height:30px; line-height:30px; float:left; display:block;}
.roomtype-imgshow, .roomtype-imgshow img{width:100%; height:auto; display:block;}

/*资讯列表-问答列表*/
.news-layout,.qanda-layout{width:100%; height:auto; display:block; overflow:hidden;}
.news-layout .navline,.qanda-layout .navline{opacity:0.1;}
.news-layout .newsitem,.qanda-layout .qandaitem{border-bottom:1px dashed #e8e8ea;}
.news-layout .newsitem:last-of-type,.qanda-layout .qandaitem:last-of-type{border:none;}
.gotoask{width:240px; height:40px; display:block;  margin:0 auto 40px; text-align:center; line-height:40px; border-radius:4px;}


/*开发商介绍*/
.developer-layout{width:100%; height:auto; display:block; overflow:hidden; padding-left:224px; position:relative;}
.developer-layout img{width:200px; height:200px; display:block; float:left; border:1px solid #e8e8ea; position:absolute; top:0; left:0;}
.developer-layout h3{wdith:calc(100% - 224px); height:30px; display:block; float:left; line-height:30px; text-align:left;}
.developer-layout p{wdith:calc(100% - 224px); height:auto; display:block; float:left; line-height:30px; text-align:justify;}



/*右侧悬挂功能按钮*/
.side-bar{width:80px; height:404px; display:block; display:block; position:fixed; right:8px; top:20%;}
.side-bar a{width:80px; height:80px; display:block; margin-bottom:1px; text-align:center; padding-top:48px;}
.side-bar a.qrcode{padding:0;}
.side-bar a.call{ background:url(../img_pc/sidebar_call_blue.png) 50% 16px no-repeat #fff; background-size:28px;}
.side-bar a.call:hover{ background:url(../img_pc/sidebar_call.png) 50% 16px no-repeat #3271f8; background-size:28px;}
.side-bar a.sign{ background:url(../img_pc/sidebar_sign_blue.png) 50% 16px no-repeat #fff; background-size:28px;}
.side-bar a.sign:hover{ background:url(../img_pc/sidebar_sign.png) 50% 16px no-repeat #3271f8; background-size:28px;}
.side-bar a.qq{ background:url(../img_pc/sidebar_qq_blue.png) 50% 16px no-repeat #fff; background-size:28px;}
.side-bar a.qq:hover{ background:url(../img_pc/sidebar_qq.png) 50% 16px no-repeat #3271f8; background-size:28px;}
.side-bar a.pk{ background:url(../img_pc/sidebar_pk_blue.png) 50% 16px no-repeat #fff; background-size:28px;}
.side-bar a.pk:hover{ background:url(../img_pc/sidebar_pk.png) 50% 16px no-repeat #3271f8; background-size:28px;}
.side-bar a.top{ background:url(../img_pc/sidebar_top_blue.png) 50% 16px no-repeat #fff; background-size:28px;}
.side-bar a.top:hover{ background:url(../img_pc/sidebar_top.png) 50% 16px no-repeat #3271f8; background-size:28px;}
.side-bar a:hover{color:#fff;}
















