

/*问房海外-PC站-楼盘列表*/
/*=======================================================================*/
/*loupan_list*/


/*工具条-搜索-地图找房、地铁找房入口*/
.toolbar{width:100%; height:40px; display:block;}

/*搜索条*/
.search-bar{width:auto; height:40px; display:block; float:left;}
.input-postbtn{width:400px; height:40px; display:block; float:left;}
.input-postbtn input[type=text]{width:320px; height:40px; display:block; float:left; border:1px solid #e8e8ea; border-radius:4px 0 0 4px; outline:none; line-height:38px;}
.input-postbtn input[type=button]{width:80px; height:40px; display:block; float:left; border-radius:0 4px 4px 0; border:none; outline:none;}
.hot-search{width:auto; height:40px; display:block; float:left;}
.hot-search a{width:auto; height:40px; display:inline-block; line-height:40px;}

/*地图找房入口*/
.mapfind{width:120px; height:40px; display:block; float:right; border-radius:4px; text-align:center; line-height:40px;}



/*条件查找*/
.condition-screen{width:100%; height:auto; display:block; overflow:hidden;}

/*查找分类*/
.condition-kind{widht:100%; height:40px; display:block; }
.kind-tabbtn{width:auto; height:40px; display:block; float:left;}
.kind-tabbtn li{width:120px; height:38px; display:block; float:left; line-height:38px; text-align:center; border-radius:4px 4px 0 0; margin-right:2px; cursor:pointer;}
.kind-tabbtn li.current{height:40px; color:#3271f8; font-weight:bold;}
.kind-tabbtn li:hover{color:#3271f8;}
.condition-switch{width:120px; height:38px; display:block; float:right; text-align:center; line-height:38px; border-radius:4px 4px 0 0;}
.condition-switch i{width:16px; height:38px; display:inline-block; vertical-align:bottom; background:url(../img_pc/arr_y_prev_grey.png) 50% 50% no-repeat;}

/*条件列表*/
.condition-con{width:100%; height:auto; display:block; padding:16px 24px;}
.condition-list{width:100%; height:auto; display:block; overflow:hidden; list-style:none; line-height:32px;}
.condition-list:last-of-type{margin:0;}
.condition-list li{width:calc(100% - 96px); height:auto; float:left;}
.condition-list li:first-of-type{width:96px; height:auto; display:block; float:left;}
.condition-list li a{width:auto; height:32px; display:block; float:left;}
.condition-list li a.current,.condition-list li a:hover{color:#3271f8;}

/*当前条件*/
.condition-current{width:100%; height:auto; display:block; overflow:hidden; padding:8px 24px;}
.condition-current>a{width:96px; height:24px; display:block; float:left; line-height:24px;}
.condition-current>a.delete-condition{width:auto;}
.current-list{width:auto; height:auto; display:block; float:left; overflow:hidden; line-height:24px;}
.current-list a{width:auto; height:24px; display:block; float:left; border:1px solid #5b8df9; line-height:22px; padding:0 26px 0 8px; position:relative;}
.current-list a:after{content:''; width:16px; height:16px; display:block; position:absolute; top:3px; right:3px; background:url(../img_pc/delete_condition.png) 50% 50% no-repeat #5b8df9;}

/*楼盘列表*/
.loupan-lsit{width:10%; height:auto; display:block; overflow:hidden;}
















+