

/*问房海外-PC站-楼盘问答列表&详情*/
/*=======================================================================*/
/*loupan_qanda_list,loupan_qanda_ask,loupan_qanda_detail/


/*楼盘问答列表*/
.loupan-qanda{}

/*左侧问答列表*/
.left-qanda-list{width:816px; height:auto; display:block; float:left; overflow:hidden;}
/*问答排序分类*/
.qanda-kind{width:100%; height:40px; display:block; overflow:hidden; float:left;}
.qanda-kind span{width:120px; height:38px; display:block; line-height:38px; text-align:center; float:left; border-radius:4px 4px 0 0; margin-right:2px;}
.qanda-kind span:hover,.qanda-kind span.current{color:#3271f8;}
.qanda-kind span.current{height:40px; font-weight:bold; border-bottom:2px solid #fff;}
.qanda-kind a{width:96px; height:38px; display:block; float:right; line-height:38px; text-align:center; border-radius:4px 4px 0 0;}
/*问答列表*/
.qanda-list-con{width:100%; height:auto; display:block; overflow:hidden; padding:0 24px;}
.qanda-list{width:100%; height:auto; display:block; overflow:hidden;}
.qanda-list .navline{opacity:0.1; border-top:1px solid #223;}





/*在线提问-回答*/
.qanda-edit{width:100%; height:auto; display:block; overflow:hidden;}
.qanda-edit.answer{border-top:1px solid #e8e8ea;}
.qanda-edit p{width:100%; height:28px; display:block; float:left; line-height:28px;}
.qanda-edit p>span{ float:left;}
.qanda-edit p>i{ float:right;}
.qanda-edit textarea{width:100%; height:auto; display:block; float:left; padding:7px; border:1px solid #e8e8ea; line-height:28px; resize:none; outline:none;}
.qanda-edit textarea.qanda-title{ height:72px;}
.qanda-edit textarea.qanda-describe,.qanda-edit textarea.qanda-answer{ height:184px;}
.qanda-imglist{width:100%; height:auto; display:block; float:left; overflow:hidden; list-style:none;}
.qanda-imglist li,.qanda-imglist li img{width:78px; height:58px; display:block; float:left; overflow:hidden; position:relative;}
.qanda-imglist.edit li:after{content:'删 除'; width:100%; height:100%; display:none; position:absolute; top:0; left:0; z-index:1; background:rgba(255,85,68,0.8); color:#fff; font-size:14px; text-align:center; line-height:58px;}
.qanda-imglist.edit li:hover:after{display:block;}
.select-img{width:160px; height:40px; display:block; float:left; line-height:38px; text-align:center; border-radius:4px; border:1px solid #3271f8;}
.postbtn{width:160px; height:40px; display:block; float:right; line-height:40px; text-align:center; border-radius:4px;}

/*友情提示*/
.side-friendtips{width:100%; height:auto; display:block; overflow:hidden; padding:0 16px;}
.friendtips{width:100%; height:auto; display:block; padding-left:32px; line-height:28px;}
.friendtips p{width:100%; height:auto; display:block; padding:24px 0; position:relative;}
.friendtips p i{width:20px; height:20px; display:block; position:absolute; top:28px; left:-32px; border-radius:24px; border:1px solid #3271f8; text-align:center; line-height:18px;}
.friendtips span.navline{opacity:0.1;}
.qrcode{width:100%; height:auto; display:block;}
.qrcode i , .qrcode i img{width:120px; height:120px; display:block; margin:0 auto;}
.qrcode p{width:100%; height:24px; line-height:24px; text-align:center; display:block;}


/*问答详情*/
.qanda-detail{width:816px; height:auto; display:block; float:left;}
/*问题信息*/
.question-info{width:100%; height:auto; display:block; overflow:hidden; padding:24px 0;}
.question-info h3{width:100%; height:auto; display:block; line-height:32px;}
.question-info p{width:100%; height:auto; max-height:84px;}
.question-info p span{width:auto; height:28px; display:inline-block; line-height:28px; background:url(../img_pc/arr_y_next_blue.png) right 50% no-repeat;}
.author-time-answerbtn{width:100%; height:32px; display:block; overflow:hidden; float:left;}
.author-time-answerbtn i,.author-time-answerbtn i img{width:32px; height:32px; display:block; float:left; border-radius:32px; overflow:hidden;}
.author-time-answerbtn span{width:auto; height:32px; display:block; float:left; line-height:32px;}
.answerbtn{width:104px; height:32px; display:block; float:right; line-height:32px; padding-right:16px; text-align:center; background:url(../img_pc/arr_y_next_white.png) 80px 50% no-repeat #ff7700; border-radius:4px;}
/*回答列表*/
.answer-list-con{width:100%; height:auto; display:block; overflow:hidden; float:left;}
.answer-list-con>h3{width:100%; height:73px; display:block; padding:24px 0 8px 0; border-bottom:1px solid #e8e8ea;}
.answer-list{width:100%; height:auto; display:block; overflow:hidden; float:left;}
.answer-item{width:100%; height:auto; display:block; padding:24px 0 24px 80px; position:relative; overflow:hidden; border-bottom:1px solid #e8e8ea;}
.answer-item:last-of-type{border-bottom:0;}
.answer-item i{width:64px; height:64px; display:block; position:absolute; left:0; top:24px; border-radius:64px; overflow:hidden;}
.answer-item i img{width:100%; height:auto; display:block;}
.answer-item div{width:100%; height:54px; display:block; overflow:hidden; float:left;}
.answer-item div p{width:auto; height:54px; display:block; float:left;}
.answer-item div p span:nth-of-type(1){width:auto; height:28px; display:block; line-height:28px;}
.answer-item div p span:nth-of-type(2){width:auto; height:26px; display:block; line-height:26px;}
.answer-item div a{width:auto; height:64px; display:block; float:right; padding-top:28px; background:url(../img_pc/answer_likebtn_grey.png) right 2px no-repeat;}
.answer-item div a.on{background:url(../img_pc/answer_likebtn_red.png) right 2px no-repeat;}
.answer-item>p{width:100%; height:auto; max-height:84px; display:block; overflow:hidden; float:left; line-height:28px;}
.answer-item>p span{width:auto; height:28px; display:inline-block; line-height:28px; background:url(../img_pc/arr_y_next_blue.png) right 50% no-repeat;}

/*左侧-相关问答*/
.side-relatedqanda{width:100%; height:auto; display:block; overflow:hidden; padding:0 16px;}
.relatedqanda-list{width:100%; height:auto; display:block; overflow:hidden;}
.relatedqanda-item{width:100%; height:auto; display:block; overflow:hidden; padding:16px 0; border-bottom:1px dashed #e8e8ea;}
.relatedqanda-item:last-of-type{border:none;}
.relatedqanda-item h4{width:100%; height:28px; display:block; line-height:28px; overflow:hidden;  text-overflow:ellipsis; white-space:nowrap;}
.relatedqanda-item p{width:100%; height:26px; display:block; line-height:26px; overflow:hidden;}
.relatedqanda-item p span{width:auto; height:26px; display:block; float:left; overflow:hidden; line-height:26px;}
.relatedqanda-item p span:nth-of-type(2){float:right;}




