

/*问房海外-PC站-楼盘户型详情和房源详情公用*/
/*=======================================================================*/
/*loupan_roomtype_detail,loupan_roomsource_detail/


/*楼盘户型和房源*/
.loupan-roomtype-roomsource{}
.loupan-name{width:100%; height:48px; display:block; line-height:48px;}


/*楼盘户型或房源展示*/
.roomtype-show,.roomsource-show{width:100%; height:auto; display:block; overflow:hidden;}
/*其他户型列表*/
.roomtype-list-con{width:100%; height:64px; display:block; overflow:hidden; position:relative; padding:0 32px;}
.roomtype-list-con a{width:24px; height:64px; display:block; position:absolute; top:0;}
.roomtype-list-con a.prev{left:0; background:url(../img_pc/arr_x_prev_blue.png) 50% 50% no-repeat #d6e3fe;}
.roomtype-list-con a.prev:hover{background:url(../img_pc/arr_x_prev_white.png) 50% 50% no-repeat #3271f8;}
.roomtype-list-con a.next{right:0; background:url(../img_pc/arr_x_next_blue.png) 50% 50% no-repeat #d6e3fe;}
.roomtype-list-con a.next:hover{background:url(../img_pc/arr_x_next_white.png) 50% 50% no-repeat #3271f8;}
.roomtype-list{width:100%; height:64px; display:block; overflow:hidden;}
.roomtype-list ul{width:1000%; height:64px; display:block; list-style:none;}
.roomtype-list ul li{width:104px; height:64px; display:block; float:left; line-height:26px; text-align:center; padding:6px 0; cursor:pointer;}
.roomtype-list ul li.current{border:1px solid #3271f8; color:#3271f8; font-weight:bold; padding:5px 0;}
.roomtype-list ul li:hover{border:1px solid #3271f8; color:#3271f8; padding:5px 0;}
/*户型或房源详情介绍*/
.roomtype-detail,.roomsource-detail{width:100%; height:664px; display:block; overflow:hidden;}
.detail-left-con{width:816px; height:664px; display:block; float:left; overflow:hidden; padding:24px;}
.detail-left-con i,.detail-left-con i img{width:100%; height:auto; display:block;}
.detail-right-con{width:360px; height:664px; display:block; float:right; overflow:hidden; padding:24px;}
.detail-right-con h3{width:100%; height:44px; display:block; overflow:hidden; float:left;}
.detail-right-con h3 span:nth-of-type(1){float:left;}
.detail-right-con h3 span:nth-of-type(2){float:right;}
.detail-right-con h3 span:nth-of-type(2) i{width:24px; height:24px; display:block; float:right; background:url(../img_pc/change_currency_red.png) 50% 50% no-repeat; margin:9px 0;}
.detail-right-con div.tags{width:100%; height:24px; display:block; float:left; overflow:hidden; line-height:24px;}
.detail-right-con div.tags span{width:auto; height:24px; display:block; float:left; padding:0 8px;}
.detail-right-con div.tags span:last-of-type{margin:0;}
.detail-right-con p{width:100%; height:auto; display:block; float:left; overflow:hidden; line-height:26px;}
.detail-right-con p span{width:50%; height:26px; display:block; float:left;}
.detail-right-con i.navline{opacity:0.1;}
.detail-right-con div.text{width:100%; height:auto; display:block; overflow:hidden; float:left;}
.detail-right-con div.text p{width:100%; height:130px; display:block; float:left; overflow:hidden; line-height:26px;}

/*房源列表展示*/
.roomsource-show{width:100%; height:auto; display:block; overflow:hidden;}
/*房源状态分类*/
.roomsource-status-kind{width:100%; height:40px; display:block; overflow:hidden;}
.roomsource-status-kind{width:auto; height:40px; display:block; float:left;}
.roomsource-status-kind span{width:120px; height:38px; display:block; line-height:38px; text-align:center; float:left; border-radius:4px 4px 0 0; margin-right:2px;}
.roomsource-status-kind span:hover,.roomsource-status-kind span.current{color:#3271f8;}
.roomsource-status-kind span.current{height:40px; font-weight:bold; border-bottom:2px solid #fff;}
/*列表样式*/
.roomsource-list{width:100%; height:auto; display:block; overflow:hidden; padding:24px 24px 0 24px;}
.list-head,.list-body{width:1152px; height:auto; display:block; list-style:none; overflow:hidden;}
.list-body li:nth-of-type(2n+1){background:#fff;}
.list-body li:nth-of-type(2n+2){background:#f4f4f5;}
.roomsource-list ul li{width:100%; height:40px; display:block; overflow:hidden;}
.roomsource-list ul li span , .roomsource-list ul li a{width:144px; height:40px; display:block; float:left; line-height:40px; text-align:center; border-right:2px solid #fff;}
.roomsource-list ul li a{border:none;}













