
/*问房海外-PC站-楼盘对比*/
/*=======================================================================*/
/*loupan_contrast*/



.orther{}

/*左侧导航*/
.left-nav{width:240px; height:auto; display:block; float:left; text-align:center; padding:24px;}
.left-nav ul{width:192px; height:auto; display:block; float:left; overflow:hidden; list-style:none;}
.left-nav ul li{width:192px; height:40px; display:block; line-height:40px; text-align:center; margin-bottom:16px;}
.left-nav ul li.current,.left-nav ul li.current:hover{color:#3271f8; background:url(../img_pc/arr_x_next_blue.png) 168px 50% no-repeat #eaf1fe}
.left-nav ul li.current a,.left-nav ul li.current:hover a{color:#3271f8;}
.left-nav ul li:hover{ background:#eaf1fe;}
.left-nav ul li a{wdith:100%; height:100%; display:block;}
.left-nav ul li:hover a{color:#3271f8;}

/*右侧内容*/
.orther-con{width:936px; height:auto; display:block; float:right; padding:0 24px;}
.orther-con>h3{width:100%; height:73px; display:block; padding:24px 0 8px 0; border-bottom:1px solid #e8e8ea;}


/*网站地图*/
.sitemap-list{width:100%; height:auto; display:block; float:left; overflow:hidden; padding-bottom:40px;}
.sitemap-item{width:100%; height:auto; display:block; float:left; overflow:hidden;}
.sitemap-item h4{width:100%; height:28px; display:block; line-height:28px; float:left; position:relative;}
.sitemap-item h4:before{content:''; width:16px; height:2px; display:block; position:absolute; bottom:-16px; left:0; background:#3271f8;}
.sitemap-item ul{width:100%; height:auto; display:block; float:left; overflow:hidden; list-style:none;}
.sitemap-item ul li{width:auto; height:26px; display:block; float:left; line-height:26px; margin:0 80px 16px 0;}
.sitemap-item ul li a:hover{color:#3271f8;}



/*隐私条款-用户协议等长篇幅文字内容布局*/
.article-layout{width:100%; height:auto; display:block; float:left; overflow:hidden; padding:24px 0;}
.article-layout p{line-height:26px; margin-bottom:16px;}
.article-layout ul{width:100%; height:auto; display:block; list-style:inside; margin-bottom:16px;}
.article-layout ul li{ line-height:26px;}



























